torch
torchvision
matplotlib
tqdm
gradio==4.7.1
dash==2.9.2
dash_bootstrap_components==1.4.1
numpy==1.23.5
plotly==5.9.0
scikit_learn==1.2.2
gunicorn
pandas
dash-tools
werkzeug==2.0.3    
markupsafe==2.0.1 
markdown
yattag
pandas
dict_hash
python-slugify
trimesh
git+https://github.com/nomad-vagabond/cq-uav.git@0.0.6
aerosandbox[full]
pyvista